/* header*/

header{
    background-color: #2c3e50;
}
 /* start */

.pj_sfondo{
    background-color: #1abc9c;
}

main .pj_start img{
    width: 250px;
}

.bianca{
    border: 1px solid white;
}

.nera{
    border: 1px solid black;
}

.stella{
    display: inline-block;
    width: 60px;
}

/* portfolio */

main .pj_img img{
    width: 100%;
}

/* contact */

input,
textarea{
    display: block;
    width: 100%;
}

.pj_contact button{
    background-color: #1abc9c;
    color: white;
}

.pj_circle{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

/**** footer ****/

footer .pj_top{
    background-color: #3a546d;
}

.pj_top div>span{
    display: block;
}

.pj_top span>span{
    color: #1abc9c;
}

footer .pj_bottom{
    height: 80px;
    background-color: #2c3e50;
}







/* debug */

/* .debug header .col{
    height: 100px;
}

.debug header .col:first-child{
    background-color: aqua;
}

.debug header .col:last-child{
    background-color: aquamarine;
} */

/* .debug .container-fluid.pj_start{
    height: 500px;
}

.debug .pj_start .col-12:first-child{
    height: 350px;
    background-color: lightblue;
}

.debug .pj_start .col-12:nth-child(2){
    height: 50px;
    background-color: lightgreen;
}

.debug .pj_start .col-12:nth-child(3){
    height: 50px;
    background-color: lightgoldenrodyellow;
}

.debug .pj_start .col-12:last-child{
    height: 50px;
    background-color: lightcoral;
} */
/* 
.debug .pj_portfolio .col-12:first-child{
    height: 50px;
    background-color: lightgrey;
}

.debug .pj_portfolio .col-12:last-child{
    height: 50px;
    background-color: lightpink;
} */

/* .debug main .pj_img .col-12{
    height: 300px;
} */

/* .debug main .pj_about{
    height: 600px;
}

.debug main .pj_about .col-12:first-child{
    background-color: lightsalmon;
    height: 50px;
}

.debug main .pj_about .col-12:nth-child(2){
    background-color: yellow;
    height: 50px;
}

.debug main .pj_about .col-12:nth-child(3){
    background-color: lightskyblue;
    height: 200px;
}

.debug main .pj_about .col-12:nth-child(4){
    background-color: lightslategray;
    height: 200px;
}

.debug main .pj_about .col-12:last-child{
    background-color: lightsteelblue;
    height: 100px;
} */
/* 
.debug main .pj_contact .col-12:first-child{
    height: 50px;
    background-color: tomato;
}

.debug main .pj_contact .col-12:nth-child(2){
    height: 50px;
    background-color: blue;
}

.debug main .pj_contact .col-12:nth-child(3){
    height: 300px;
    background-color: green;
}

.debug main .pj_contact .col-12:last-child{
    height: 50px;
    background-color: gray;
} */

/* footer .pj_reference .col-12:first-child{
    height: 150px;
    background-color: red;
}

footer .pj_reference .col-12:nth-child(2){
    height: 150px;
    background-color: salmon;
}

footer .pj_reference .col-12:last-child{
    height: 150px;
    background-color: teal;
} */
